/* CSS BY Caleb Ray */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT VARIABLES */

:root {
    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;

    --font: "Playfair Display", "Georgia", serif;

    --shadow: 0 2px 6px rgba(0,0,0,0.25);

}

/* GLOBAL STYLES (mobile first/small) */

body {
    font-family: var(--font);
    margin: 0 auto;
    padding: 1rem;
    background-color: var(--soft-white);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

header {
    background-color: var(--midnight-blue);
    color: var(--linen);
    text-align: center;
}

header img {
    width: 150px;
    height: auto;
    margin: 1.5rem auto;
}

header p {
    margin: 1rem;
    font-style: italic;
}

h1 {
    font-size: 3.5rem;
    font-weight: 700;
}

nav {
    background-color: var(--champagne-gold);
    border-bottom: 2px solid var(--linen);
}

nav a {
    color: var(--midnight-blue);
    text-decoration: none;
    font-weight: 800;
    font-size: 1.25rem;
}

nav a:hover {
    font-style: italic;
    color: var(--olive-green);
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding: 0.5rem;
}

main {
    background-color: var(--linen);
    padding: 1rem;
    line-height: 1.5;
}

section {
    border-bottom: 2px solid var(--champagne-gold);
    margin: 1rem 0.25rem;
    padding: 1rem 0.5rem;
}

p {
    margin: 0.5rem 0;
}

h2 {
    color: var(--midnight-blue);
    font-size: 1.75rem;
    font-weight: 500;
}

.offer-card {
    background-color: var(--olive-green);
    color: var(--soft-white);
    border-radius: 15px;
    box-shadow: var(--shadow);
    padding: 1rem;
    margin: 0.5rem;
}

#basket-list {
    list-style-type: disc;
    list-style-position: inside;
    margin: 0.5rem 0;
}


h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

.gallery-card {
    background-color: var(--soft-white);
    border-radius: 10px;
    margin: 1rem 0;
    box-shadow: var(--shadow);
}

.gallery-card img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
    display: block;
}

.gallery-card figcaption {
    font-style: italic;
    font-size: 0.75rem;
    text-align: center;
    padding: 0.5rem;
}

#gallery-button {
    background-color: var(--olive-green);
    border-radius: 5px;
    padding: 0.5rem;
    text-align: center;
}

#gallery-button a {
    color: var(--soft-white);
    text-decoration: none;
    font-weight: bold;
}

footer {
    background-color: var(--midnight-blue);
    margin: 0 auto;
    padding: 2.5rem 1rem;
    color: var(--linen);
    text-align: center;
    line-height: 1.6;
}

address {
    font-style: normal;
    margin-bottom: 1.5rem;
}

footer a {
    color: var(--champagne-gold);
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

/* MEDIA QUERY (medium) */

@media (min-width:600px) {
    body {
        max-width: 650px;
        margin: 0 auto;
    }

    .offerings {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
    }

    .offer-card.basket {
        grid-column: 1/-1;
    }

    .offerings h2 {
        grid-column: 1/-1;
    }

    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.25rem;
    }

    .gallery h2,
    .gallery div,
    .gallery p {
        grid-column: 1/-1;
    }

    #gallery-button {
        text-align: center;
    }
}

/* MEDIA QUERY (large) */

/* MEDIA QUERY (xl) */